{% extends 'dashboard_web/base.html' %}
{% load static %}
{% block title %}Hacking Dashboard{% endblock %}

{% block content %}
    {% if ftplogins %}
    <table class="table">
        <tr>
            <th>Date</th>
            <th>IP</th>
            <th>Status</th>
        </tr>
        {% for login in ftplogins %}
        <tr>
            <td>
                {{ login.date }}
            </td>
            <td>
                {{ login.ip }}
            </td>

            <td>
                {% if login.status == 'OK' %}
                <button type="button" class="btn btn-success" disabled>{{ login.status }}</button>
                {% elif login.status == 'FAIL' %}
                <button type="button" class="btn btn-danger" disabled>{{ login.status }}</button>
                {% else %}
                <button type="button" class="btn btn-primary" disabled>{{ login.status }}</button>
                {% endif %}
            </td>

        </tr>


    {% endfor %}
    </table>

    {% else %}
        <div class="col-md-12">
            <p>No items Available</p>
        </div>
    {% endif %}

{% endblock %}
