{% extends 'dashboard_web/base.html' %}
{% load static %}
{% block title %}Hacking Dashboard{% endblock %}

{% block custom-styles %}

<link rel="stylesheet" type="text/css" href="{% static 'dashboard_web/plugins/table/datatable/datatables.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'dashboard_web/plugins/table/datatable/dt-global_style.css' %}">

{% endblock%}

{% block content %}

<div class="row layout-top-spacing" id="cancel-row">
    <div class="col-xl-12 col-lg-12 col-sm-12  layout-spacing">
        <div class="widget-content widget-content-area br-6">

            <div class="widget-heading">
                <h3 class="">FTP attacks</h3>
            </div>

            <div class="table-responsive mb-4 mt-4">
                <table id="alter_pagination" class="table table-hover" style="width:100%">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>IP</th>
                            <th class="text-center">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for login in ftplogins %}
                                <tr class="mb-4"> 
                                    <td>
                                        <div class="td-content">{{ login.date }}</div>
                                    </td>
                                    <td>
                                        <div class="td-content">{{ login.ip }}</div>
                                    </td>
                                    <td class="text-center">
                                        {% if login.status == 'OK' %}
                                            <div class="td-content"><span class="badge outline-badge-success">{{ login.status }}</span></div>
                                        {% elif login.status == 'FAIL' %}
                                            <div class="td-content"><span class="badge outline-badge-danger">{{ login.status }}</span></div>
                                        {% else %}
                                            <div class="td-content"><span class="badge outline-badge-primary">{{ login.status }}</span></div>
                                        {% endif %}
                                    </td>
                                </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


{% block custom-scripts %}

    <script src="{% static 'dashboard_web/plugins/table/datatable/datatables.js' %}"></script>
    <script>
        $(document).ready(function() {
            $('#alter_pagination').DataTable( {
                "pagingType": "full_numbers",
                "oLanguage": {
                    "oPaginate": { 
                        "sFirst": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-left"><polyline points="15 18 9 12 15 6"></polyline></svg>',
                        "sPrevious": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left"><line x1="19" y1="12" x2="5" y2="12"></line><polyline points="12 19 5 12 12 5"></polyline></svg>',
                        "sNext": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>',
                        "sLast": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>'
                    },
                    "sInfo": "Showing page _PAGE_ of _PAGES_",
                    "sSearch": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>',
                    "sSearchPlaceholder": "Search...",
                "sLengthMenu": "Results :  _MENU_",
                },
                "stripeClasses": [],
                "lengthMenu": [7, 10, 20, 50],
                "pageLength": 7 
            });
        } );
    </script>

{% endblock%}

{% endblock %}